
// -----------------
// Color Family
// -----------------
$white: #FFFFFF;
$green: #01D167;
$blue: #23CEFD;
$blueNew: #536DFF;
$grey: #DDDDDD;
$darkGrey: #222222;
$cream : #F5F5F5;
$lightGrey: #AAAAAA;
$blueDark: #325BAF;
$blueCircle: #009DFF1A;
$borderGrey: #FAFCFF;
$darkBlue: #0C365A;
$lightCream: #EDF3FF;